if elif and else

#Control Flow syntax (with white space)

if something:
    #execute this code if condition is true
elif something_else:
    #another condition
else:
    #do something else if anything of the conditions aren't used

In [12]:
hungry = False

if hungry == True:
    print("FEED ME")
else:
    print("I'M FULL")

I'M FULL

In [18]:
loc = 'Gas'

if loc == 'Shop':
    print('At the shop')
elif loc == 'Bank':
    print('At the bank!')
elif loc == 'Gas':
    print('Gassing up my car..')
else:
    print('No clue where I am..')

Gassing up my car..

In [22]:
name = 'Oliver'

if name == 'Frankie':
    print('Hello Frankie!')
elif name == "Sammy":
    print('Hello Sammy!')
else:
    print("What is your name?")

What is your name?

# NOTES

Playing around with For Loops...

Syntax

my_iterable = [1,2,3]
for item_name in my_iterable:
    print(item_name)
    
>> 1
>> 2
>> 3

In [23]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [29]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [34]:
for num in mylist:
    # Check for evens
    if num % 2 == 0:
        print(num)
    # If the number is odd
    else:
        # 'f' lets you print the variable on screen
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [36]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    # If the print statement was part of the loop it would give us a running tally
    # print(list_sum)

print(list_sum)

55

In [38]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [44]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

# Tup Unpacking

In [41]:
myList = [(1,2),(3,4),(5,6),(7,8)]

In [42]:
len(myList)

4

In [45]:
for item in myList:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [48]:
for (a,b) in myList:
    print(b)

2
4
6
8

In [52]:
#Unpacking a dictionary

d = {'k1':1, 'k2':2, 'k3':3}

for key, value in d.items():
    print(key, value)
    #print(key)
    #print(value)

k1 1
k2 2
k3 3

In [54]:
for value in d.values():
    print(value)

1
2
3

In [58]:
for key in d.keys():
    print(key)

k1
k2
k3

# While Loops Practice

while some_boolean_condition:
    do something
else:
    do something different

In [62]:
x = 0
while x < 5:
    print(f'The current value of x is {x}')
    #x = x + 1
    x += 1
else:
    print('X IS NOT LESS THAN 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

# BREAK, CONTINUE, PASS

In [67]:
x = [1,2,3]

for item in x:
    pass #placeholder

print('End of Script')

End of Script

In [68]:
myStr = 'Sammy'

In [72]:
for letter in myStr:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [74]:
for letter in myStr:
    if letter == 'a':
        break
    print(letter)

S

In [76]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

# Toying Around

In [79]:
#mylist = [1,2,3]

#Range operator

for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [81]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [84]:
index_count = 0

for letter in 'abcde':
    print('At index {} letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 letter is a
At index 1 letter is b
At index 2 letter is c
At index 3 letter is d
At index 4 letter is e

In [86]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1
    
# There is a better way to do this..

a
b
c
d
e

In [88]:
#Enumerate --> Iterable

word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [93]:
# Zip Function

mylist1 = [1,2,3]
mylist2 = ['a', 'b', 'c']
mylist3 = [100, 200, 300, 400, 500] #Zip drops the extra

for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [95]:
for a,b,c in zip(mylist1, mylist2, mylist3):
    print(c) #Only prints out 3 entries since the smallest list is only 3 entries long

100
200
300

In [96]:
list(zip(mylist1, mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

# Toying with In operator

In [98]:
2 in [1,2,3]

True

In [103]:
'x' in [1,2,3]

False

In [107]:
'o' in 'Oliver' #case senitive

False

In [110]:
'mykey' in {'mykey':500}

True

In [117]:
d = {'mykey':500}

500 in d.values()
#500 in d.keys() #Returns false

True

# Min/Max Function

In [119]:
mylist = [10,20,30,40,50]
min(mylist)

10

In [121]:
max(mylist)

50

In [129]:
print(f'The lowest value is {min(mylist)}\n')
print(f'The highest value is {max(mylist)}')

The lowest value is 10

The highest value is 50

# Import a Library

In [130]:
from random import shuffle

In [136]:
shuffle(mylist)
print(mylist)

[10, 30, 50, 40, 20]

In [143]:
from random import randint
randint(0, 100)

36

# Input

In [153]:
result = input('Enter a number here: ')

Enter a number here: 50

In [154]:
result

'50'

In [156]:
float(result) #Convert it to a number

50.0

In [157]:
# There is no error/exception handling at the moment if the user inputs something other than an integer

# List Comprehensions

In [158]:
mystring = 'hello'

In [159]:
mylist = []

for l in mystring:
    mylist.append(l)

In [161]:
mylist

['h', 'e', 'l', 'l', 'o']

In [168]:
mylist = []
print(mylist)
mylist = [l for l in mystring]  # For Loop flattened
print(mylist)

[]
['h', 'e', 'l', 'l', 'o']

In [170]:
mylist = [num for num in range(0,11)]  # Should assign 0 through 10 to the variable mylist

In [172]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [175]:
mylist = [num**2 for num in range(0,11)]  # First 'num' can accept operations
print(mylist)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [179]:
mylist = [x for x in range(0,11) if x%3==0]
print(mylist)
mylist = [x for x in range(0,11,3)]
print(mylist)

[0, 3, 6, 9]
[0, 3, 6, 9]

In [191]:
celcius = [0,10,20,34.5, 36.3]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]
print(fahrenheit)

[32.0, 50.0, 68.0, 94.1, 97.34]

In [200]:
for x in range(len(celcius)):
    #print(f'X is at {x}')
    print(f'Celcius: {celcius[x]} = Fahrenheit: {fahrenheit[x]}\n')

Celcius: 0 = Fahrenheit: 32.0

Celcius: 10 = Fahrenheit: 50.0

Celcius: 20 = Fahrenheit: 68.0

Celcius: 34.5 = Fahrenheit: 94.1

Celcius: 36.3 = Fahrenheit: 97.34

In [202]:
mylist = []

for x in [2,4,6]:
    for y in [100, 200, 300]:
        mylist.append(x*y)

In [204]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [205]:
mylist = [x*y for x in [2,4,6] for y in [100,200,300]] #One liner.. I prefer readability

In [206]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]